<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <?include "..\Setup.WIXInstaller\Config.wxi" ?>
	<Bundle Name="$(var.NAME)" Version="$(var.VERSION)" Manufacturer="$(var.MANUFACTURER)" UpgradeCode="682cf831-564e-4222-a0c0-fd02afa210f9"
            DisableModify="yes" DisableRepair="yes"
            IconSourceFile="$(var.ICONLOGO)">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
            <bal:WixStandardBootstrapperApplication LicenseFile="$(var.LICENCE)" LogoFile="$(var.ICONLOGO)" ShowVersion="yes"
                                                    SuppressOptionsUI="yes" SuppressRepair="yes"/>
        </BootstrapperApplicationRef>
		<Chain>
            <MsiPackage Id="$(var.NAME)" DisplayName="$(var.NAME) $(var.VERSION)" Description="$(var.DESCRIPTION)" SourceFile="$(var.PROJECTPATH)\Deploy\$(var.BUILD)\$(var.NAME).msi" DisplayInternalUI="yes" Visible="no" Vital="yes" Compressed="yes" EnableFeatureSelection="yes" />
		</Chain>
	</Bundle>
</Wix>
