<?xml version="1.0"?>
<configuration>
  <!-- Custom configuration sections -->
  <configSections>
    <section name="websitepanel.server" type="WebsitePanel.Server.ServerConfiguration, WebsitePanel.Server.Mono" />
  </configSections>
  <appSettings>
    <add key="WebsitePanel.HyperV.UseDiskPartClearReadOnlyFlag" value="false" />
    <add key="WebsitePanel.Exchange.ClearQueryBaseDN" value="false" />
    <add key="WebsitePanel.Exchange.enableSP2abp" value="false" />
    <add key="SCVMMServerName" value="" />
    <add key="SCVMMServerPort" value="" />
  </appSettings>
  <!-- WebsitePanel Configuration -->
  <websitepanel.server>
    <!-- Security settings -->
    <security>
      <!-- Perform security check -->
      <enabled value="true" />
      <!-- Server password -->
      <!-- <password value="aWs7wiWmcyph0oYjIRyMBP2yQZQ=" /> -->
		<password value="cRDtpNCeBiql5KOQsKVyrA0sAiA=" />
		 <!-- SOAP Message encryption -->
		 <encryption value="true" />
    </security>
  </websitepanel.server>
  <system.web>
  	<customErrors mode="Off" />
    <!-- Disable any authentication -->
    <authentication mode="None" />
    <!-- Correct HTTP runtime settings -->
    <httpRuntime executionTimeout="3600" maxRequestLength="16384" />
    <!-- Set globalization settings -->
    <globalization culture="en-US" uiCulture="en" requestEncoding="UTF-8" responseEncoding="UTF-8" fileEncoding="UTF-8" />
    <!-- Web Services settings -->
    <webServices>
      <protocols>
        <remove name="HttpPost" />
        <remove name="HttpPostLocalhost" />
        <remove name="HttpGet" />
      </protocols>
		<soapExtensionTypes>
			<add type="WebsitePanel.Providers.DecryptAndVerifySoapExtension, WebsitePanel.Providers.Base" priority="0" group="High" />
			<add type="WebsitePanel.Server.CheckAuthenticationSoapExtension, WebsitePanel.Server.Mono" priority="1" group="High" />
			<add type="WebsitePanel.Providers.EncryptAndSignSoapExtension, WebsitePanel.Providers.Base" priority="100" group="Low" />
		</soapExtensionTypes>
    </webServices>
    <compilation debug="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="" />
    </assemblyBinding>
  </runtime> -->
</configuration>