<?xml version="1.0"?>
<configuration>
	<system.web>
		<authentication mode="Forms">
			<credentials passwordFormat="Clear">
				<user name="wsp" password="Password12" />
			</credentials>
		</authentication>
		<authorization>
			<allow users="wsp" />
			<deny users="*" />
		</authorization>
	</system.web>
	<system.webServer>
		<security>
			<authentication>
				<anonymousAuthentication enabled="false" />
				<basicAuthentication enabled="true" />
				<digestAuthentication enabled="false" />
				<windowsAuthentication enabled="false" />
			</authentication>
		</security>
	</system.webServer>
</configuration>
